<!DOCTYPE html>
<html>

<head>
  <title>
    {{#if title}}
    {{title}} | xposure
    {{else}}
    xposure
    {{/if}}
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#000000">
  <meta name="apple-mobile-web-app-title" content="xposure">
  <meta name="application-name" content="xposure">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  {{#if user}}
  <div class="container">
    <nav class="nav-sm navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="/{{user.username}}"><img src="/images/xposure.svg" width="50" height="50"
          alt="xposure"></a>
    </nav>
  </div>
  <div class="container">
    <nav class="nav-lg navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="/{{user.username}}">
        <img src="/images/xposure.svg" width="50" height="50" alt="xposure">
      </a>
      <a class="nav-item nav-link" href="/{{user.username}}">My Profile<a />
        <a class="nav-item nav-link" href="/explore">Explore</a>
        <a class="nav-item nav-link" href="/upload">Upload</a>
        <a class="nav-link active" href="/{{user.username}}/favorites">Favourites</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    </nav>
  </div>
  {{/if}}
  <main class="{{page}}">
    {{{body}}}
  </main>
  {{#if user}}
  <div class="menu-space"></div>
  <nav class="nav-sm navbar fixed-bottom navbar-light bg-light navbar-mobile">
    <a class="nav-link active" href="/{{user.username}}"><i class="fas fa-user-circle"></i></a>
    <a class="nav-link active" href="/{{user.username}}/favorites"><i class="far fa-heart"></i></a>
    <a class="nav-link active" href="/upload"><i class="fas fa-cloud-upload-alt"></i></a>
    <a class="nav-link active" href="/explore"><i class="far fa-images"></i></a>
    <a class="nav-link active" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
  </nav>
  {{/if}}
  <footer></footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>